[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[project]
name = "FinaleToolkit"
version = "0.5.2"
authors = [
    {name="James Li", email="lijw21@wfu.edu"},
    {name="Ravi Bandaru", email="ravi.bandaru@northwestern.edu"},
    {name="Yaping Liu", email="yaping@northwestern.edu"},
]
description = "A package and standalone program to process paired-end reads of cfDNA fragment WGS."
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
]
dependencies = [
    "numpy",
    "pysam",
    "pybedtools",
    "pybigwig",
    "py2bit",
    "tqdm",
    "numba",
    "scipy",
    "matplotlib",
    "pandas",
    "cython",
    "statsmodels",
    "sphinx<7.0.0",
    "sphinx_rtd_theme",
    "sphinx-argparse",
    "loess",
]

[project.scripts]
finaletoolkit = "finaletoolkit.cli:main_cli"

[project.urls]
"Homepage" = "https://epifluidlab.github.io/"
